{
  "arrowParens": "always",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^aws", "^@middy", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSortSpecifiers": true
}
